footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 93, 116, 1);
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}