:root {
  --primary-color: #00b9e8;
  --secondary-color: #ffa500;
  --accent1-color: #bebfc5;
  --accent2-color: #004225;

  --heading-font: sans-serif;
  --paragraph-font: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*heder*/
#humburgerMenu {
  display: none;
}

header {
  display: grid;
  grid-template-columns: 10% 5% 75% 10%;
  /* 2fr 1fr 6fr 2fr */
  grid-template-rows: 25px;
  padding: 20px;
  background-color: #00b9e8;
  text-align: center;
}

header .a {
  display: block;
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  grid-column: 3/4;
}

header .b {
  display: block;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  grid-column: 3/4;
  /* margin-top: 2rem; */
}

header img {
  grid-column: 3/4;
  padding: 0px;
  width: 5rem;
  filter: brightness(100) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(150deg);
}

/*menu*/
.nav-box {
  background-color: rgba(0, 93, 116, 1);
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.nav-box ul {
  display: flex;
  text-align: center;
  list-style-type: none;
  padding: 0px;
}

.nav-box ul li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
  font-size: 15px;
}

.nav-box li {
  flex-grow: 1;
}

.nav-box ul li a.active {
  background-color: rgba(0, 1, 1, 0.5);
}

.nav-box ul li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/*slider1*/
.slide {
  border-left: 1px solid rgb(0, 49, 83, 0.5);
  border-right: 1px solid rgb(0, 49, 83, 0.5);
  background-color: rgb(0, 49, 83, 0.2);
}

/* Slideshow container */
#slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

#slideshow-container img {
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

.cta-button {
  z-index: 1;
  display: inline-block;
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  background-color: #00b9e8;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #00b9e8;
}

/*events-box*/
.events-box {
  display: inline-block;
  width: 60%;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #ffa500;
  border-radius: 5px;
}

.events-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
}

.events-box p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0;
  padding-top: 20px;
}

.slider-events {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  height: 350px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  text-align: center;
}

.circle-img {
  display: none;
}

.displayed {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.displayed img {
  display: flex;
  width: 150px;
  height: 150px;
  position: relative;
}

.text2 {
  position: absolute;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-top: 5px;
  width: 150px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* wethear */
.weather-body {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.weather-card {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 93, 116, 1);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.weather-card h2 {
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 20px;
}

.weather-card p {
  margin: 5px 0;
  font-family: "Montserrat";
  font-size: 15px;
}

.weather-forecast h3 {
  font-family: "Montserrat";
  font-size: 17px;
}

.weather-forecast p {
  font-family: "Montserrat";
  font-size: 13px;
}

.weather-forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* spotlight */
.spotlights {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.spotlight {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.spotlight img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.spotlight h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 20px;
}

.spotlight p {
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-size: 15px;
}

.spotlight .btn {
  display: inline-block;
  background-color: #00b9e8;
  color: black;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 14px;
}

/* footer */

footer {
  background-color: rgba(0, 93, 116, 1);
  padding: 20px;
  text-align: center;
}

.contact-info,
.developer-info {
  margin-bottom: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

.contact-info h4,
.developer-info h4 {
  margin-bottom: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

.social-buttons a {
  padding: 8px;
}

/* -------------------------------discover------------------------------------ */
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  width: 80%;
}

.sidebar {

  padding: 20px;
}

.sidebar ul {
  padding-left: 30px;
}

.culinary h3,
.statistics h3,
.attractions h3,
.calendar h3 {
  font-family: "sans-serif";
  font-size: 20px;
}

#message {
  font-family: "sans-serif";
  font-size: 20px;
  padding: 20px;
}

.culinary,
.statistics,
.attractions,
.calendar {
  font-family: "Montserrat";
  font-size: 15px;
  border-radius: 3%;
  padding: 10px;
  background-color: #f0f0f0;
}

/* main page part */

.main {
  padding: 20px;
  grid-column: 2/3;
}

.photo {
  position: relative;
  margin-bottom: 20px;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  max-width: 80%;
  line-height: 1.4;
  border-radius: 5px;
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.photo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.photo h1 {
  font-family: "sans-serif";
  font-size: 20px;
}

.photo p {
  margin: 5px 0;
  text-align: center;
}

/* galery */
.gallery img {
  margin: 10px;
  transition: transform 0.3s ease;
}

/* Hover effect */
.gallery img:hover {
  transform: scale(1.1);
}

/* -----------------------------------Calendar---------------------------------------- */
ul {
  list-style-type: none;
}

body {
  font-family: Verdana, sans-serif;
}

.container-c {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.calendar {
  background: black;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
  max-height: 501px;
  perspective: 1000px;
  transition: .9s;
  transform-style: preserve-3d;
  width: 100%;
}

/* Front - Calendar */
.front {
  transform: rotateY(0deg);
}

.current-date {
  border-bottom: 1px solid rgba(73, 114, 133, .6);
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}

.current-date h3 {
  color: #dfebed;
  font-size: 1.4em;
  font-weight: 300;
}

.week-days {
  color: #dfebed;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 30px 40px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weeks {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.weeks div {
  display: flex;
  font-size: 1.2em;
  font-weight: 300;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.last-month {
  opacity: .3;
}

.weeks span {
  padding: 10px;
}

.weeks span.active {
  background: #f78536;
  border-radius: 50%;
  color: black;
}

.weeks span:not(.last-month):hover {
  cursor: pointer;
  font-weight: 600;
}

.event {
  position: relative;
}

.event:after {
  content: '•';
  color: #f78536;
  font-size: 1.4em;
  position: absolute;
  right: -4px;
  top: -4px;
}

/* Back - Event form */

.back {
  height: 100%;
  transform: rotateY(180deg);
}

.back input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(73, 114, 133, .6);
  color: #dfebed;
  font-size: 1.4em;
  font-weight: 300;
  padding: 30px 40px;
  width: 100%;
}

.info {
  color: #dfebed;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.2em;
  padding: 30px 40px;
}

.info div:not(.observations) {
  margin-bottom: 40px;
}

.info span {
  font-weight: 300;
}

.info .date {
  display: flex;
  justify-content: space-between;
}

.info .date p {
  width: 50%;
}

.info .address p {
  width: 100%;
}

.actions {
  bottom: 0;
  border-top: 1px solid rgba(73, 114, 133, .6);
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.actions button {
  background: none;
  border: 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  width: 50%;
}

.actions button:first-of-type {
  border-right: 1px solid rgba(73, 114, 133, .6);
}

.actions button:hover {
  background: #497285;
  cursor: pointer;
}

.actions button:active {
  background: #5889a0;
  outline: none;
}

/* Flip animation */

.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
}

/* JOIN */

.form-box {
  padding: 50px;
  font-family: var(--heading-font);
}

.form-a fieldset {
  margin: 2rem 0;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: .5rem 2%;
  width: 50%;
}

.form-a legend {
  color: rgb(0, 0, 0);
  padding: 0 .5rem;
}

.form-a label {
  display: block;
  padding-top: 1rem;
  color: #000000;
  font-size: .9rem;
}

#description,
.form-a input[type="text"],
.form-a input[type="tel"],
.form-a input[type="email"] {
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 400px;
  appearance: none;
}

.form-a input[type="submit"] {
  border: none;
  background-image: linear-gradient(var(--accent2-color), var(--accent2-color));
  color: #fff;
  border-radius: 6px;
  padding: .6rem;
  width: 96%;
  max-width: 400px;
  margin: -1rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px #999;
}

.form-a input:required:valid {
  border-bottom: solid 3px green;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
}
th, td {
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th[colspan="5"] {
  background-color: #ddd;
}
td {
  font-size: 1.2em;
}
th[scope="colgroup"] {
  font-size: 1.2em;
}
th[scope="col"] {
  font-weight: bold;
}
th[headers] {
  font-weight: bold;
}

/* thankyou page */
.thankyou {
  font-family: var(--heading-font);
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container-thankyou {
  max-width: 600px;
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container-thankyou h1 {
  color: var(--accent2-color);
  margin-bottom: 20px;
}

.container-thankyou p {
  color: #333;
  font-size: 18px;
}

/* Discovery */
#members-box {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#members-box h2 {
  font-family: var(--heading-font);
  font-size: larger;
}

#members-box p {
  font-size: var(--paragraph-font);
  font-size: small;
}

.member {
  border: 1px solid #ddd; 
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member img {
  max-width: 100%;
  height: auto;
  border-radius: 5px; 
}

/* Grid view for members */
.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* List view for members */
.list-view .member {
  display: flex;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.list-view .member img {
  width: 3rem;
  height: 3rem;
}

.list-view .member h2{
  padding: 10px;
  font-size: large;
}

.list-view .member p{
  padding: 10px;
  font-size: xx-small;
  word-wrap: break-word;
}

button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: var(--accent2-color); 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--paragraph-font);
}

button:hover {
  background-color: var(--primary-color); 
}

/* spotlight members */
#spotlight-advertisements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-bottom: 40px;
  padding: 50px;
  background-color: #f9f9f9;
}

#spotlight-advertisements h2 {
  position: absolute;
  font-family: var(--heading-font);
  font-size: 25px;
  text-align: center;
}

.spotlight-member {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20%;
}

.spotlight-member img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.spotlight-member h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 1.2rem;
}

.spotlight-member p {
  margin-bottom: 20px;
  color: #666;
}

/* Banner */
.banner {
  display: none;
  background-color: var(--accent2-color);
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: var(--heading-font);
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #fff;
}

main h1 {
  font-family: var(--heading-font);
  font-size: 30px;
  text-align: center;
}