/* :root {
    --primary-color: #00b9e8;
    --secondary-color: #ffa500;
    --accent1-color: #bebfc5;
    --accent2-color: #004225;

    --heading-font: sans-serif;
    --paragraph-font: "Montserrat", sans-serif;
} */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*heder*/
#humburgerMenu{
    display: none;
}

header{
    display: grid;
    grid-template-columns: 10% 5% 75% 10%; /* 2fr 1fr 6fr 2fr */
    grid-template-rows: 25px;
    padding: 20px;
    background-color: #00b9e8;
    text-align: center;
}

header .a {
    display: block;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    grid-column: 3/4;
}

header .b {
    display: block;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    grid-column: 3/4;
    /* margin-top: 2rem; */
}

header img {
    grid-column: 3/4;
    padding: 0px;
    width: 5rem;
    filter: brightness(100) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(150deg);
}

/*menu*/
.nav-box {
    background-color: rgba(0, 93, 116, 1);
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.nav-box ul {
    display: flex;
    text-align: center;
    list-style-type: none;
    padding: 0px;
}

.nav-box ul li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
    font-size: 15px;
}

.nav-box li {
    flex-grow: 1;
}

.nav-box ul li a.active {
    background-color: rgba(0, 1, 1, 0.5);
}

.nav-box ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/*slider1*/
.slide {
    border-left: 1px solid rgb(0,49,83, 0.5);
    border-right: 1px solid rgb(0,49,83, 0.5);
    background-color: rgb(0,49,83, 0.2);
}

/* Slideshow container */
#slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
#slideshow-container img {
   width: 100%;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 5s;
}

.cta-button {
    z-index: 1;
    display: inline-block;
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background-color: #00b9e8; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
.cta-button:hover {
    background-color: #00b9e8; 
}

/*events-box*/
.events-box {
    display: inline-block;
    width: 60%;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffa500;
    border-radius: 5px;
}

.events-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
}

.events-box p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0;
    padding-top: 20px;
}

.slider-events {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    height: 350px;
    width: 100%;
    justify-content: center; 
    align-items: center;
    padding-top: 40px;
    text-align: center;
}

.circle-img {
    display: none;
}

.displayed {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.displayed img {
    display: flex;
    width: 150px;
    height: 150px;
    position: relative;
}

.text2 {
    position: absolute;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 5px; 
    width: 150px; 
    text-align: center;
    white-space: normal; 
    word-wrap: break-word; 
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* wethear */
.weather-body {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.weather-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 93, 116, 1);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.weather-card h2 {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 20px;
}

.weather-card p {
    margin: 5px 0;
    font-family: "Montserrat";
    font-size: 15px;
}

.weather-forecast h3 {
    font-family: "Montserrat";
    font-size: 17px;
}

.weather-forecast p {
    font-family: "Montserrat";
    font-size: 13px;
}

.weather-forecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
}

/* spotlight */
.spotlights {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.spotlight {
    flex: 0 0 calc(33.33% - 20px); 
    margin-bottom: 20px; 
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.spotlight img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.spotlight h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 20px;
}

.spotlight p {
    margin-bottom: 15px;
    font-family: "Montserrat";
    font-size: 15px;
}

.spotlight .btn {
    display: inline-block;
    background-color: #00b9e8;
    color: black;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 14px;
}

/* footer */
footer {
    background-color: rgba(0, 93, 116, 1);
    padding: 20px;
    text-align: center;
}

.contact-info, .developer-info {
    margin-bottom: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

.contact-info h4, .developer-info h4 {
    margin-bottom: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.social-buttons a{
    padding: 8px;
}