* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#mode::before {
    content: 'Dark Mode';
    color: white;
}

#humburgerMenu {
    display: none;
}

/*nav bar*/
header {
    background-color: rgb(12, 59, 35);
}

/* Center the container horizontally */
header {
    text-align: center;
}

header img,
header span {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

header img {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
}

header span {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding-left: 20px;
}

/*nav bar*/
nav {
    background-color: black;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

nav ul {
    display: flex;
    text-align: center;
    list-style-type: none;
    padding: 0px;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a.active {
    background-color: rgba(130, 1, 1, 0.5);
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

/*main*/
main {
    margin: 50px 50px;
}

main h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 21px;
    margin: 0px;
}

/*section cards*/
html,
body {
    height: 100%;
    margin: 0;
}


.parentcard {
    display: flex;
}

.parentcard section {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.parentcard section span {
    display: block;
    background-color: rgb(12, 59, 35);
    color: white;
    padding: .7rem 0;
    text-align: center;
}

.card1,
.card2 {
    border-radius: 5px;
    box-shadow: 0 0 10px;
}

.card2 {
    margin-left: 10px;
    width: 40rem;
}

.card1 {
    width: 80rem;
}

main ul {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 15px;
}

.card2 .contentspan {
    padding: 10px;
}

/*footer*/
.spacerbottom {
    flex-grow: 100;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(12, 59, 35);
    padding: 17px;
}

#copyright {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}

#lastModified {
    color: rgb(255, 255, 31);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.location {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}

.pagevisits {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.contentspan {
    text-align: center;
}

/*humburger menu*/
#humburgerMenu.open::before {
    content: "❎";
}

.open ul {
    background-color: black;
}


/*dark mode*/
#mode {
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    display: unset;
    font-size: .8rem;
    border: 0;
    background: none;
    position: absolute;
    top: 3.5rem;
    left: 1rem;
}

#mode.dark-mode::before {
    content: 'Light Mode';
    color: white;
}

.dark-mode {
    background-color: black;
}

.dark-mode h1 {
    color: white;
}

/*section cards*/
.dark-mode .card1,
.dark-mode .card2 {
    border: .5px solid white;
    border-radius: 5px;
    box-shadow: 0 0 0px;
}

.dark-mode .card2 {
    color: white;
}

.dark-mode ul {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
}

.dark-mode .card1 a{
    color: white;
}

.dark-mode nav ul {
    padding: 0px;
}

